body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: sans-serif;
  }
  
  .character-row {
    cursor: pointer;
  }
  
  #character-detail {
    overflow: auto;
    position: fixed;
    right: 0;
    padding: 15px 15px 0px 15px;
    background-color: #666;
    color: white;
    font-size: 140%;
    height: 100vh;
  }
  
  .thumbnail {
    border-radius: 50%;
    margin: 15px;
    vertical-align: middle;
  }
  